<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>scalingEditToolExt.py</string>
			<key>preferredName</key>
			<string>scalingEditTool</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Timo Klaavo</string>
	<key>developerURL</key>
	<string>http://github.com/klaavo</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>scalingEditToolExt.py</string>
	<key>name</key>
	<string>ScalingEditTool</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1682959450.0</real>
	<key>version</key>
	<string>1.0.6</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>klaavo/scalingEditTool</string>
		<key>summary</key>
		<string>Arrow tool for scaling curve segments while moving on-curve points.</string>
	</dict>
</dict>
</plist>
